@import '~src/styles/styles';

.button-wrapper {
  font-size: 24px;
  padding: 20px;
  text-align: center;

  button {
    border: 0;
    background: none;
    &:focus {
        outline: none;
    }

    @include hover-scale();
  }
}
