@import "~src/styles/styles";

.container {
  align-items: center;
  padding: 0;
  margin: 0;
  max-width: 100%;

  .sep-row {
    .col:not(:last-of-type) {
      border-left: 1px solid rgb(216, 208, 208);
      border-right: 1px solid rgb(216, 208, 208);
      height: 60px;
    }
  }

  .project-link {
    display: block;
    position: relative;
    background: $blue;
    cursor: pointer;
    overflow: hidden;
    height: 50vh;
    border: 5px solid $blue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px $yellow;

    .project-text {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.7;
      width: 80%;
      font-size: 24px;
      color: black;
      transform: translate(-50%, -50%);
      transition: opacity ease-out 250ms;
    }

    &:hover,
    &:focus {
      background: white;
      box-shadow: 20px 20px 10px $yellow;
    }

    .project-image {
      display: block;
      border-radius: 10px;
      overflow: hidden;
      transform: scale(1);
      transition: transform 3s cubic-bezier(0.075, 0.12, 0.165, 1);
      opacity: 0.3;
      height: 100%;

      @media all and (max-width: 580px) {
        position: relative;
      }

      img {
        height: 100%;
        @media all and (max-width: 580px) {
          position: absolute;
          top: -900px;
          bottom: -900px;
          left: -900px;
          right: -900px;
          margin: auto;
        }
      }
    }

    &:hover,
    &:focus {
      opacity: 1;

      .project-text {
        opacity: 1;
      }

      .project-image {
        opacity: 0.5;
        transform: scale(1.2);
        transition: transform 7s cubic-bezier(0.075, 0.12, 0.165, 1);
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 4em;
      bottom: 4em;
      left: 4em;
      right: 4em;
      transition: transform ease-out 250ms;
    }

    &::after {
      border-top: 4px solid black;
      border-bottom: 4px solid black;
      transform: scale(0, 1);
    }

    &::before {
      border-left: 4px solid black;
      border-right: 4px solid black;
      transform: scale(1, 0);
    }

    @media all and (min-width: 760px) {
      &:hover,
      &:focus {
        &::after {
          transform: scale(1.05, 1);
        }
        &::before {
          transform: scale(1, 1.05);
        }
      }
    }
  }
}
