<h3 class="section-header">Projects</h3>
<div class="container">
  <div class="row w-100 m-0 sep-row">
    <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
  </div>

  <div class="row m-0">
    <div class="col m-0 p-0">
      <a [routerLink]="['projects/home-library']">
        <div class="project_image">
          <img
            src="assets/images/home-library/home-library-icon.png"
            alt="Home library project"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">Home library</h3>
          <p class="text-center fs-64">Angular&nbsp;SailsJS&nbsp;MongoDB</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <a [routerLink]="['projects/planets']">
        <div class="project_image">
          <img
            src="assets/images/planets/list-view.png"
            alt="Planets project"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">Planets</h3>
          <p class="text-center fs-64">Angular&nbsp;CSS3&nbsp;Bootstrap</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <a [routerLink]="['projects/AKN-web-app']">
        <div class="project_image">
          <img
            src="assets/images/AKN-web-app/modify-account.png"
            alt="AKN web project"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">AKN webapp</h3>
          <p class="text-center fs-64">Angular&nbsp;SailsJS&nbsp;MongoDB</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <a [routerLink]="['projects/AKN-mobile-app']">
        <div class="project_image">
          <img
            src="assets/images/AKN-mobile-app/login-icon.png"
            alt="AKN mobile project"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">AKN mobile app</h3>
          <p class="fs-64">Ionic2&nbsp;HTML5&nbsp;CSS3</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <!-- <a [routerLink]="['projects/RPN-calc']">
            <div class="project_image">
              <img src="assets/images/RPN-calc/basic.png" alt="RPN project" />
            </div>
            <div class="project_text">
              <h3 class="mb-0">RPN calculator</h3>
              <p class="text-center fs-64">Android<br />Kotlin<br />SQLite</p>
            </div>
          </a>
           <div class="row w-100 m-0 sep-row">
    <div class="col" *ngFor="let i of [0,1,2,3,4,5]"></div>
  </div>
        
        -->

      <a [routerLink]="['projects/lego-app']">
        <div class="project_image">
          <img
            src="assets/images/lego-app/project-view.png"
            alt="LEGO project"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">Lego app</h3>
          <p class="text-center fs-64">Android<br />Kotlin<br />SQLite</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <a [routerLink]="['projects/mr-dumpling']">
        <div class="project_image">
          <img src="assets/images/mr-dumpling/menu.png" alt="Thesis project" />
        </div>
        <div class="project_text">
          <h3 class="mb-0">Mr Dumpling</h3>
          <p class="text-center fs-64">Unity&nbsp;C#&nbsp;Google&nbsp;Play</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <a [routerLink]="['projects/climate-camp']">
        <div class="project_image">
          <img
            src="assets/images/climate-camp/menu.png"
            alt="Climate camp project"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">Climate Camp Mobile app</h3>
          <p class="text-center fs-64">Flutter<br />Dart<br />Firebase</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>

      <a [routerLink]="['projects/climate-camp-website']">
        <div class="project_image">
          <img
            src="assets/images/icons/climate-camp-logo.png"
            alt="Climate camp website"
          />
        </div>
        <div class="project_text">
          <h3 class="mb-0">Climate Camp website</h3>
          <p class="text-center fs-64">Angular 9<br />Scully<br />Bootstrap</p>
        </div>
      </a>

      <div class="row w-100 m-0 sep-row">
        <div class="col" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>
      </div>
    </div>
  </div>
</div>
