body {
  font-family: Bookman Old Style;
  text-align: center;
  background-color: #47454d;
  color: white;
  font-size: 18px !important;
}

.section {
  clear: both;
}

.section-header + * {
  clear: both;
  padding: 0% 10% 0% 10%;
}

a {
  cursor: pointer;
}

h2.section-header {
  color: white;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

h2.section-header::after, h2.section-header::before {
  content: '';
  height: 100%;
  position: absolute;
  display: block;
  width: 100vw;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h2.section-header::before {
  z-index: -2;
  background-color: white;
}

h2.section-header::after {
  z-index: -1;
  background-color: #00abca;
}

h2.section-header:hover {
  cursor: pointer;
  color: #ffda00;
}

h2.section-header:hover:after {
  cursor: pointer;
  opacity: 0;
}

h2.section-header:hover:before {
  cursor: pointer;
}

.bio-wrap {
  overflow: hidden;
}

.bio {
  float: left;
  width: 40%;
}

.bio + .bio {
  text-align: left;
  width: 60%;
  position: relative;
  top: 20px;
  margin-bottom: 1%;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 1em;
  border: 7px solid #00abca;
}

p {
  text-align: justify;
}

.bio-text p {
  font-weight: 900;
}

.instruction {
  text-align: center;
}

a, a:visited {
  color: #ffda00;
}

a:hover {
  color: white;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  left: -100%;
  font-size: 0.8em;
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 1em 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: bottom ease-out 150ms, left ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: bottom ease-out 150ms, left ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms;
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms, -webkit-transform ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  bottom: 100%;
  left: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.image-wrapper {
  position: relative;
  margin: 1em;
  background-color: #ffda00;
}

.image-wrapper::after, .image-wrapper::before {
  content: "";
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}

.image-wrapper::after {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.image-wrapper::before {
  border-left: 1px solid white;
  border-right: 1px solid white;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.image-wrapper:hover::after {
  -webkit-transform: scale(1.1, 1);
          transform: scale(1.1, 1);
}

.image-wrapper:hover::before {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.project-image {
  display: block;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
  max-width: 300px;
  max-height: 300px;
}

.image-wrapper:hover {
  cursor: pointer;
}

.image-wrapper:hover .project-image {
  opacity: 0.4;
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.image-wrapper:hover .project-text {
  opacity: 1;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 0;
}

#thankyou_message {
  display: none;
  background-color: white;
  color: black;
  clear: both;
  top: 20px;
  min-height: 40px;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 20px;
}

@media screen and (max-width: 650px) {
  .bio {
    clear: both;
    width: 100% !important;
    text-align: center !important;
    padding: 5%;
  }
  a[data-tool-tip]:hover::after {
    white-space: normal;
  }
  .bio-text {
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */