@font-face {
  font-family: "JosefinSans";
  src: url("fonts/JosefinSans-Regular.eot");
  src: url("fonts/JosefinSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/JosefinSans-Regular.woff") format("woff"), url("fonts/JosefinSans-Regular.ttf") format("truetype"), url("fonts/JosefinSans-Regular.svg#JosefinSans") format("svg");
}

body {
  background-color: white;
  font-family: "JosefinSans", sans-serif;
  font-weight: 600;
  font-size: 18px !important;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

a:not(.shortcut_img):not(.navigation_link)::before {
  content: "";
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  height: 1.5em;
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

a:not(.shortcut_img):not(.navigation_link):hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navigation_link::after {
  content: "";
  position: relative;
  top: 0px;
  border-bottom: 1px solid black;
}

.content_wrapper {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
}

.my_page_header {
  display: inline-block;
  height: 70px;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.my_page_header .hamburger_menu {
  background-image: url(./images/icons/hamburger.png);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-size: cover;
}

@media only screen and (min-width: 650px) {
  .my_page_header .hamburger_menu {
    display: none;
  }
}

.my_page_header .navigation_small {
  text-align: right;
  position: absolute;
  top: 72px;
  right: 30px;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.my_page_header .navigation_small ul {
  list-style: none;
  padding: 0px;
}

.my_page_header .navigation_small ul li {
  padding: 5px;
  font-size: 120%;
}

.my_page_header .navigation_small ul li:hover {
  background: #00abca;
}

.my_page_header .navigation_small ul li a {
  display: block;
}

.my_page_header .navigation_small ul li a:hover {
  color: white;
}

@media only screen and (min-width: 650px) {
  .my_page_header .navigation_small {
    display: none;
  }
}

.my_page_header .navigation {
  position: relative;
  text-align: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.my_page_header .navigation li {
  display: inline-block;
  padding: 0px 5px;
}

@media only screen and (max-width: 650px) {
  .my_page_header .navigation {
    display: none;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.banner .banner_bg_opacity {
  opacity: 0.3;
  background-image: url(./images/background/banner.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
}

.banner .my_name {
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 70vh 50px;
  bottom: 140px;
}

.banner .my_places {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .shortcut_img {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 62px;
  width: 62px;
}

.banner .shortcut_img img {
  width: 100%;
  height: auto;
}

.banner .shortcut_img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1300px) {
  .banner .shortcut_img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .banner .shortcut_img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 1100px) {
  .banner .shortcut_img {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .banner .shortcut_img:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media only screen and (max-width: 700px) {
  .banner .shortcut_img {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .banner .shortcut_img:hover {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media only screen and (max-width: 480px) {
  .banner .shortcut_img {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  .banner .shortcut_img:hover {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

.banner .my_places_center {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 60px;
}

@media only screen and (max-width: 1300px) {
  .banner .my_places_center {
    bottom: 75px;
  }
}

@media only screen and (max-width: 1100px) {
  .banner .my_places_center {
    bottom: 75px;
  }
}

@media only screen and (max-width: 700px) {
  .banner .my_places_center {
    bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .banner .my_places_center {
    bottom: 45px;
  }
}

.section {
  clear: both;
  text-align: center;
}

form {
  padding: 0% 10%;
  margin-top: 2%;
  opacity: 0.9;
}

h2.section_header {
  color: white;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  margin-top: 0px;
}

h2.section_header::after, h2.section_header::before {
  content: "";
  height: 100%;
  position: absolute;
  display: block;
  width: 100vw;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h2.section_header::before {
  z-index: -2;
  background-color: white;
}

h2.section_header::after {
  z-index: -1;
  background-color: #00abca;
}

.bio_wrap {
  overflow: hidden;
}

.bio {
  float: left;
  width: 40%;
  margin-bottom: 10px;
}

.bio + .bio {
  text-align: left;
  width: 60%;
  position: relative;
  top: 20px;
  margin-bottom: 1%;
}

.profile_picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 1em;
  border: 7px solid #00abca;
}

p {
  text-align: justify;
}

.bio_text p {
  font-weight: 900;
}

.instruction {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #00abca;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  left: -100%;
  font-size: 0.8em;
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 1em 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: bottom ease-out 150ms, left ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: bottom ease-out 150ms, left ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms;
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms, -webkit-transform ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  bottom: 100%;
  left: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.image_wrapper {
  position: relative;
  margin: 1em;
  background-color: #00abca;
}

.image_wrapper::after, .image_wrapper::before {
  content: "";
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}

.image_wrapper::after {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.image_wrapper::before {
  border-left: 1px solid white;
  border-right: 1px solid white;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.image_wrapper:hover::after {
  -webkit-transform: scale(1.1, 1);
          transform: scale(1.1, 1);
}

.image_wrapper:hover::before {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.project_image {
  display: block;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
  max-width: 300px;
  max-height: 300px;
}

.image_wrapper:hover {
  cursor: pointer;
}

.image_wrapper:hover .project_image {
  opacity: 0.4;
}

.project_text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.image_wrapper:hover .project_text {
  opacity: 1;
}

.card_title {
  font-size: 2rem;
  margin-bottom: 0;
}

#contact {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0px;
  padding: 0px;
}

#contact .contact_opacity {
  opacity: 0.3;
  background-image: url(./images/background/keyboard.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  margin-top: -10px;
  z-index: -1;
}

#thankyou_message {
  display: none;
  color: black;
  clear: both;
  min-height: 20px;
  position: relative;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 20px;
}

#send_button {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  clear: both;
  height: 50px;
  font-size: 80%;
}

.footer p {
  text-align: center;
  position: relative;
}

@media screen and (max-width: 650px) {
  .bio {
    clear: both;
    width: 100% !important;
    text-align: center !important;
    padding: 5%;
  }
  a[data-tool-tip]:hover::after {
    white-space: normal;
  }
  .bio_text {
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */