@font-face {
  font-family: "Elegant Lux Mager";
  src: url("fonts/ElegantLux-Mager.eot");
  src: url("fonts/ElegantLux-Mager.eot?#iefix") format("embedded-opentype"), url("fonts/ElegantLux-Mager.woff") format("woff"), url("fonts/ElegantLux-Mager.ttf") format("truetype"), url("fonts/ElegantLux-Mager.svg#ElegantLux-Mager") format("svg");
}
body {
  background-color: white;
  font-family: "Elegant Lux Mager", sans-serif;
  font-size: 18px;
  position: relative;
  min-width: 300px;
}

a {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

a:not(.shortcut_img):not(.navigation_link_small):not(.go_back):not(.carousel-control)::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  height: 2em;
  transition: transform ease-out 250ms;
  border-top: 1px solid #474507;
  border-bottom: 1px solid #474507;
  transform: scale(0, 1);
}
a:not(.shortcut_img):not(.navigation_link_small):not(.go_back):not(.carousel-control):hover::before {
  transform: scale(1, 1);
}

.info_link a::before {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.content_wrapper {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
}

.my_page_header {
  display: inline-block;
  position: absolute;
  top: 0;
  opacity: 0.8;
  background: #00abca;
  z-index: 1;
  width: 100%;
}
.my_page_header .hamburger_menu {
  background-image: url(./images/icons/hamburger.png);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-size: cover;
}
@media only screen and (min-width: 650px) {
  .my_page_header .hamburger_menu {
    display: none;
  }
}
.my_page_header .navigation_small {
  text-align: right;
  position: absolute;
  top: 80px;
  right: 30px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0.8;
}
.my_page_header .navigation_small ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  background: #00abca;
  border: 2px solid black;
  border-bottom: 1px solid black;
}
.my_page_header .navigation_small ul li {
  padding: 5px;
  font-size: 120%;
  border-bottom: 1px solid black;
}
.my_page_header .navigation_small ul li:hover {
  background: #00abca;
}
.my_page_header .navigation_small ul li a {
  display: block;
  color: white;
}
.my_page_header .navigation_small ul li a:hover {
  color: black;
}
@media only screen and (min-width: 650px) {
  .my_page_header .navigation_small {
    display: none;
  }
}
.my_page_header .navigation {
  position: relative;
  text-align: center;
  padding: 30px 0;
}
.my_page_header .navigation li {
  display: inline-block;
  width: 30%;
}
.my_page_header .navigation li a {
  position: relative;
}
.my_page_header .navigation li a::before {
  border-top: 2px solid #474507 !important;
  border-bottom: 2px solid #474507 !important;
}
.my_page_header .navigation li a:hover {
  color: white;
}
@media only screen and (max-width: 650px) {
  .my_page_header .navigation {
    display: none;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.banner .banner_bg_opacity {
  opacity: 0.3;
  background-image: url(./images/background/banner.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
}
.banner .my_name {
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 50vh 50px;
  bottom: 140px;
}
.banner .my_places {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
.banner .shortcut_img {
  display: inline-block;
  position: relative;
  padding: 8px;
  height: 62px;
  width: 62px;
}
.banner .shortcut_img img {
  width: 100%;
  height: auto;
}
.banner .shortcut_img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 1300px) {
  .banner .shortcut_img {
    transform: scale(0.9);
  }
  .banner .shortcut_img:hover {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1100px) {
  .banner .shortcut_img {
    transform: scale(0.85);
  }
  .banner .shortcut_img:hover {
    transform: scale(0.95);
  }
}
@media only screen and (max-width: 700px) {
  .banner .shortcut_img {
    transform: scale(0.75);
  }
  .banner .shortcut_img:hover {
    transform: scale(0.85);
  }
}
@media only screen and (max-width: 480px) {
  .banner .shortcut_img {
    transform: scale(0.65);
  }
  .banner .shortcut_img:hover {
    transform: scale(0.75);
  }
}
.banner .my_places_center {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 60px;
}
@media only screen and (max-width: 1300px) {
  .banner .my_places_center {
    bottom: 75px;
  }
}
@media only screen and (max-width: 1100px) {
  .banner .my_places_center {
    bottom: 75px;
  }
}
@media only screen and (max-width: 700px) {
  .banner .my_places_center {
    bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .banner .my_places_center {
    bottom: 45px;
  }
}

section {
  clear: both;
  text-align: center;
}
section .container {
  max-width: 90%;
  margin: 0 auto;
}

form {
  padding: 0 10%;
  margin-top: 2%;
  opacity: 0.9;
}
form .form-control {
  margin-bottom: 10px;
}

h2.section_header {
  color: white;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  margin: 0;
  height: 100px;
  line-height: 100px;
}
h2.section_header::after, h2.section_header::before {
  content: "";
  height: 100%;
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
}
h2.section_header::before {
  z-index: -2;
  background-color: white;
}
h2.section_header::after {
  z-index: -1;
  background-color: #00abca;
}

#bio_wrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0;
}

.bio {
  width: 40%;
}

.bio + .bio {
  text-align: left;
  width: 60%;
}

.profile_picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 1em;
  border: 7px solid #00abca;
}

p {
  text-align: justify;
}

.instruction {
  text-align: center;
  padding-top: 50px;
}

a:hover {
  text-decoration: none;
  color: #00abca;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  left: -100%;
  font-size: 0.8em;
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 1em 1em;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1) translate(-50%);
  left: 50%;
  bottom: 150%;
  min-width: 170px;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: row;
}
@media only screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
}

.image_container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px 0;
}
@media only screen and (max-width: 750px) {
  .image_container {
    flex-flow: column wrap;
  }
}
.image_container .tight-wrapper {
  min-width: 50%;
}
.image_container .tight {
  position: relative;
  background: #00abca;
  max-width: 300px;
  cursor: pointer;
  margin: 20px auto;
}
.image_container .tight .project_text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: white;
  transform: translate(-50%, -50%);
  transition: opacity ease-out 250ms;
}
.image_container .tight .card_title {
  font-size: 2rem;
  margin-bottom: 0;
}
.image_container .tight .card_body {
  text-align: center;
}
.image_container .tight:hover .project_text {
  opacity: 1;
}
.image_container .tight:hover .project_image {
  opacity: 0.1;
}
.image_container .tight::after, .image_container .tight::before {
  content: "";
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
  transition: transform ease-out 250ms;
}
.image_container .tight::after {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0, 1);
}
.image_container .tight::before {
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scale(1, 0);
}
.image_container .tight:hover::after {
  transform: scale(1.05, 1);
}
.image_container .tight:hover::before {
  transform: scale(1, 1.05);
}
.image_container .project_image {
  display: block;
  border: 5px solid #00abca;
  border-radius: 10px;
  overflow: hidden;
}
.image_container .project_image img {
  max-width: 100%;
}
.image_container .vertical {
  max-width: 200px;
}

#contact {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
}
#contact .contact_opacity {
  opacity: 0.3;
  background-image: url(./images/background/keyboard.jpg);
  width: 100%;
  height: 100%;
  top: 70px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}

#thank-you-message {
  display: none;
  color: black;
  clear: both;
  min-height: 20px;
  position: relative;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  clear: both;
  font-size: 80%;
}
.footer p {
  text-align: center;
  position: relative;
}

@media screen and (max-width: 650px) {
  .bio {
    clear: both;
    width: 100% !important;
    text-align: center !important;
    padding: 5%;
  }

  a[data-tool-tip]:hover::after {
    white-space: normal;
  }

  .bio_text {
    padding-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
