<div class="subpage-wrapper">
  <app-navbar></app-navbar>

  <h1 class="section-header">Planets</h1>

  <div id="intro">
    <div class="description">
      <p>
        This app visualises assets from the Star Wars API. Allows users to sort
        assets by attributes when clicking table's header. The webpage uses
        pagination and allows users to modify characters' data. User can also
        add a new character via a form with validation set for every field.
      </p>
    </div>

    <hr />
    <div class="technologies">
      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/angular.png"
            aria-hidden="true"
          />
        </div>
        <span>Angular</span>
      </div>

      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/bootstrap.png"
            aria-hidden="true"
          />
        </div>
        <span>Bootstrap</span>
      </div>

      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/html5.png"
            aria-hidden="true"
          />
        </div>
        <span>HTML5</span>
      </div>

      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/css3.png"
            aria-hidden="true"
          />
        </div>
        <span>CSS3</span>
      </div>
      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/jasmine.png"
            aria-hidden="true"
          />
        </div>
        <span>Jasmine</span>
      </div>
    </div>

    <hr />
    <div class="experience">
      <p>
        I've learnt the basics of Bootstrap and had a chance to use pagination
        for the first time. I used reactive Angular forms to validate user's
        input more efficiently. Last but not least I've learnt to write unit
        tests for Angular applications using mock components and mock services.
      </p>
    </div>
    <hr />

    <app-show-more-button
      elementId="slides"
      toggleClass="open"
    ></app-show-more-button>

    <div class="row slides" id="slides">
      <img
        class="slide"
        src="assets/images/planets/list-view.png"
        alt="list view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/planets/search.png"
        alt="search view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/planets/sorted.png"
        alt="column sorted after clicking the header"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/planets/edit.png"
        alt="edit row view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/planets/add-character.png"
        alt="add character view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/planets/validation.png"
        alt="validation"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/planets/error.png"
        alt="error view"
        onclick="showImage()"
      />
    </div>
    <hr />
    <app-github-button
      repo="http://www.github.com/jakub-wisniowski/angular2-tests"
    ></app-github-button>
    <hr />
  </div>
</div>
