@import "./variables";

.page-header {
    display: inline-block;
    position: absolute;
    top: 0;
    opacity: 0.8;
    background: $blue;
    z-index: 1;
    width: 100%;
  
    .navigation {
      position: relative;
      text-align: center;
      padding: 30px 0;
      margin-bottom: 0;
  
      li {
        display: inline-block;
        width: 30%;
  
        a {
          position: relative;
          &:hover {
            color: white;
          }
        }
      }
  
      @media only screen and (max-width: 650px) {
        display: none;
      }
    }
  }