@import "./variables";

.page-header {
    display: inline-block;
    position: absolute;
    top: 0;
    opacity: 0.8;
    background: $blue;
    z-index: 1;
    width: 100%;
  
    .hamburger-menu {
      width: 50px;
      height: 50px;
      position: fixed;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background-size: cover;
      @media only screen and (min-width: 650px) {
        display: none;
      }
    }
  
    .navigation-small {
      text-align: center;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $blue;
      height: 100vh;
      width: 250px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
      opacity: 0.99;
      transition: right .5s ease-in;

      &.collapsed {
        right: -250px;
      }
  
      ul {
        list-style: none;
        padding: 60px 0 0 0;
        margin-bottom: 0;
  
        li {
          font-size: 120%;
  
          &:hover {
            background: $yellow;
            a {
              color: $blue;
            }
          }
  
          a {
            display: block;
            color: white;
            padding: 15px 5px;
          }
        }
      }
  
      @media only screen and (min-width: 650px) {
        display: none;
      }
    }
  
    .navigation {
      position: relative;
      text-align: center;
      padding: 30px 0;
      margin-bottom: 0;
  
      li {
        display: inline-block;
        width: 30%;
  
        a {
          position: relative;
          &:hover {
            color: white;
          }
        }
      }
  
      @media only screen and (max-width: 650px) {
        display: none;
      }
    }
  }