<div class="subpage-wrapper">

  <h1 class="section-header">
    <app-navbar></app-navbar>
    Lego app
  </h1>

  <div id="intro">
    <div class="description">
      <p>
        This app is designed for LEGO fans. User can enter the id of project
        they're working on and the app will download an XML file containing all
        the bricks needed in this project. Afterwards, the app will try to
        download images for all the bricks from three different sources.
      </p>
      <p>
        User can use the application to check if they have all of the bricks. In
        the project view user can increment or decrement the number of bricks.
        If user has all of the bricks from a given type, the row turns green.
        User can export their data to XML file at any time in order to buy
        missing bricks online.
      </p>
    </div>

    <hr />
    <div class="technologies">
      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/android.png"
            aria-hidden="true"
          />
        </div>
        <span>Android</span>
      </div>

      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/kotlin.png"
            aria-hidden="true"
          />
        </div>
        <span>Kotlin</span>
      </div>

      <div class="row justify-content-space-between align-items-center">
        <div class="img-wrapper">
          <img
            class="icon"
            src="assets/images/icons/sqlite.png"
            aria-hidden="true"
          />
        </div>
        <span>SQLite</span>
      </div>
    </div>

    <hr />
    <div class="experience">
      <p>
        I've used http requests in order to obtain XML files and then had to
        parse XML to data and data to XML. I've learnt how to create a list view
        with a row containing more than one element. I used SQLite to store the
        data and all the images were stored in the device memory. I've also
        learnt how to save files to SD card.
      </p>
    </div>
    <hr />

    <app-show-more-button
      elementId="slides"
      toggleClass="open"
    ></app-show-more-button>

    <div class="row slides" id="slides">
      <img
        class="slide"
        src="assets/images/lego-app/project-view.png"
        alt="project view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/lego-app/set-url.png"
        alt="set url view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/lego-app/parts.png"
        alt="parts view"
        onclick="showImage()"
      />
      <img
        class="slide"
        src="assets/images/lego-app/parts-edited.png"
        alt="parts view after editing"
        onclick="showImage()"
      />
    </div>
    <hr />
    <app-github-button
      repo="http://www.github.com/jakub-wisniowski/android-lego-app"
    ></app-github-button>
    <hr />
  </div>
</div>
