@import "~src/styles/colors";
@import "~src/styles/variables";
@import "~src/styles/animations";

.footer {
  width: 100%;
  clear: both;
  font-size: 80%;

  p {
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url($img_prefix+"icons/paper-plane.png");
  background-size: contain !important;
  border: none;
  outline: none;
  z-index: 10;
}

#backToTop:hover,
#backToTop:focus {
  background: url($img_prefix+"icons/paper-plane-hover.png");
  animation: pulsate 4s linear forwards infinite;
}

#backToTop.active {
  animation: fly 2s linear forwards infinite;
  transform: translate3d(0, 0, 0);
  background: url($img_prefix+"icons/paper-plane-flying.png");
}
