@import "~src/styles/colors";
@import "~src/styles/variables";


.footer {
  width: 100%;
  clear: both;
  font-size: 80%;

  p {
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url($img_prefix+"icons/paper-plane.png");
  background-size: contain !important;
  border: none;
  outline: none;
  z-index: 10;
}

#backToTop:hover,
#backToTop:focus {
  background: url($img_prefix+"icons/paper-plane-hover.png");
  animation: pulsate 4s linear both;
}

#backToTop.active {
  animation: fly 4s linear;
  transform: translate3d(0, 0, 0);
  background: url($img_prefix+"icons/paper-plane-flying.png");
}

@keyframes fly {
  10%,
  50% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40% {
    transform: translate3d(-20px, 0, 0);
  }

  30% {
    transform: translate3d(-30px, 0, 0);
  }

  60% {
    transform: translate3d(0, 0, 0);
  }

  70%,
  90% {
    transform: translate3d(10px, 0, 0);
  }

  80% {
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes pulsate {
  10%,
  90% {
    transform: scale(0.9);
  }

  30%,
  70% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }
}