<div class="subpage-wrapper fs-26">
  <div class="header-wrapper position-relative">
    <h1 class="section-header">
      <a [routerLink]="['/']" class="go-back"></a>
      {{project.title}}
    </h1>

  </div>
  
    <div class="intro">
      <div class="description w-100">
        <h2 class="font-weight-bold">Description</h2>
        <p class="text-justify" *ngFor="let desc of project.description" [innerHTML]="desc"></p>
      </div>
  
      <hr />
      <div class="technologies">
        <h2 class="font-weight-bold">Technologies</h2>
        <div class="row justify-content-space-between align-items-center">
          <div class="col-md-6 col-sm-12"  *ngFor="let technology of project.technologies">
            <div class="row">
              <div class="text-right col-6">
                <img
                  class="icon"
                  [src]="technology.image"
                  aria-hidden="true"
                />
              </div>
              <div class="col-6" class="lh-52">{{technology.name}}</div>
            </div>
          </div>
        </div>
      </div>
  
      <hr />
      <div class="experience w-100">
        <h2 class="font-weight-bold">Experience</h2>
        <p class="text-justify">
          {{project.experience}}
        </p>
      </div>
      <hr />
  
      <app-gallery [slides]="project.images"></app-gallery>
  
      <hr />
      <app-github-button
        *ngIf="project.repo"
        [repo]="project.repo"
      ></app-github-button>

      <div class="row justify-content-center align-items-center" *ngIf="!project.repo">
        <img class="icon" [src]="project.website.icon" />
  
        <a [href]="project.website.href" target="-blank" class="border-link">
          {{project.website.linkText}}
          </a>
      </div>
      <hr />
    </div>
  </div>
  