@import '~src/styles/styles';
@import '~src/styles/animations';

.subpage-wrapper {
	width: 100%;
	padding: 0;
	min-height: 90vh;

	.go-back {
		position: absolute;
		top: 50%;
		left: 40px;
		display: block;
		width: 20px;
		height: 20px;
		border-left: 2px solid white;
		border-top: 2px solid white;
		transform: rotate(-45deg) translateY(-50%);

		&:hover, &:focus {
			border-left: 2px solid black;
			border-top: 2px solid black;
			outline: none;
			animation: pulsateSkewed 4s linear forwards infinite;
		}
	}
}

.intro {
	padding: 50px 10% 0 10%;
	.technologies {
		.row {
			padding: 6px 0;
		}
	}
}

.technologies .icon {
	transform-origin: 50%;
	animation: turnAround 2s ease-in-out forwards;
}

hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
