@import '../../../styles/mixins';

#slides {
	justify-content: center;
	margin-bottom: 20px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 300ms;
	.slide {
		max-height: 200px;
		margin: 10px 20px;
		border: 4px solid #00abca;
    	border-radius: 4px;
		box-shadow: rgb(107, 107, 96) 3px 3px;
		cursor: pointer;
		@include hover-scale();
		@include hover-opacity();
	}
	&.open {
		max-height: 2000px;
	}
}