<div class="subpage-wrapper">
    <h1 class="section-header">
      <app-navbar></app-navbar>
      Climate camp
    </h1>
  
    <div id="intro">
      <div class="description">
        <div>
            Application was designed for the attendees of Climate Camp 2019. It has four basic functionalities:
        <div>
            <ul>
                <li>register for the camp</li>
                <li>see event's program</li>
                <li>display program's details</li>
                <li>check the necessary things to pack for the camp</li>
            </ul>
        </div>
    </div>
      </div>
      <hr />
      <div class="technologies">
        <div class="row justify-content-space-between align-items-center">
          <div class="img-wrapper">
            <img
              class="icon"
              src="assets/images/icons/flutter.png"
              aria-hidden="true"
            />
          </div>
          <span>Flutter</span>
        </div>
  
        <div class="row justify-content-space-between align-items-center">
          <div class="img-wrapper">
            <img
              class="icon"
              src="assets/images/icons/dart.png"
              aria-hidden="true"
            />
          </div>
          <span>Dart</span>
        </div>
  
        <div class="row justify-content-space-between align-items-center">
          <div class="img-wrapper">
            <img
              class="icon"
              src="assets/images/icons/firebase.png"
              aria-hidden="true"
            />
          </div>
          <span>Firebase</span>
        </div>

      </div>
   
      <hr />
      <div class="experience">
        <p>
            This was my first project in Flutter, I have learnt how to create views, use shared preferences and open external links.
             I have created my very first Firebase project in order to store information about camp's agenda and the list of crucial things to take to the camp.
        </p>
      </div>
      <hr />
      <app-gallery [slides]="images"></app-gallery>
  
      <hr />
      <app-github-button repo="http://www.github.com/jakub-wisniowski/Climate-Camp-App"></app-github-button>
      <hr />
    </div>
  </div>
  