@import "~src/styles/colors";

body {
  font-family: "Elegant Lux Mager", sans-serif;
  font-size: 18px;
  position: relative;
  min-width: 300px;
  margin: 0;
  a {
    cursor: pointer;
    font-weight: bold;
    color: black;

    &:hover {
      text-decoration: none;
      color: $blue;
    }

    &[data-tool-tip]::after {
      content: attr(data-tool-tip);
      position: absolute;
      white-space: nowrap;
      bottom: 0;
      left: -100%;
      font-size: 0.8em;
      background-color: grey;
      color: white;
      border-radius: 5px;
      padding: 1em 1em;
      transform: scale(0);
      transition: transform ease-out 150ms, bottom ease-out 150ms,
        left ease-out 150ms;
    }

    &[data-tool-tip]:hover::after,
    &[data-tool-tip]:focus::after {
      transform: scale(1) translate(-50%);
      left: 50%;
      bottom: 150%;
      min-width: 170px;
    }

    &[data-tool-tip]:hover::after {
      white-space: normal;
    }
  }
  .icon {
    width: 2em;
    height: 2em;
    margin-right: 10px;
  }
}