<div class="content-wrapper">
	<section class="page-header">
		<div class="container">
			<div class="hamburger_menu" data-toggle="collapse" data-target="#nav"></div>
			<div id="nav" class="navigation_small collapse">
				<ul>
					<li>
						<a class="navigation_link_small" href="#about" data-toggle="collapse" data-target="#nav">ABOUT</a>
					</li>
					<li>
						<a class="navigation_link_small" href="#projects" data-toggle="collapse" data-target="#nav">PROJECTS</a>
					</li>
					<li>
						<a class="navigation_link_small" href="#contact" data-toggle="collapse" data-target="#nav">CONTACT</a>
					</li>
				</ul>
			</div>
			<ul class="navigation">
				<li>
					<a class="navigation_link border-link" href="#about">ABOUT</a>
				</li>
				<li>
					<a class="navigation_link border-link" href="#projects">PROJECTS</a>
				</li>
				<li>
					<a class="navigation_link border-link" href="#contact">CONTACT</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="banner">
		<div class="banner_bg_opacity"></div>
		<div class="my_name">
			<h1>JAKUB WIŚNIOWSKI</h1>
			<h2>JUNIOR FRONT-END DEVELOPER</h2>
		</div>
		<div class="my_places_center">
			<div class="my_places">
				<a href="https://github.com/jakub-wisniowski" data-tool-tip="Github profile" target="-blank" class="shortcut_img">
					<img src="assets/images/icons/github.png" alt="Github profile"/>
				</a>
				<a href="https://www.linkedin.com/in/jakub-m-wisniowski/" data-tool-tip="LinkedIn profile" target="-blank" class="shortcut_img">
					<img src="assets/images/icons/linkedin.png" alt="LinkedIn profile"/>
				</a>
			</div>
		</div>
	</section>
	<section id="about">
		<h3 class="section-header">About me</h3>
		<div class="container" id="bio_wrap">
			<div class="bio">
				<img class="profile_picture" src="assets/images/profile.png" alt="Profile picture"/>
			</div>
			<div class="bio">
				<div class="bio_text">
					<p>
						I am a Junior Frontend Developer. I graduated from Computer Science at
						<b>Poznan University of&nbsp;Technology</b> in February 2019.
					</p>

					<p>
						I'm looking for junior level frontend or&nbsp;fullstack positions. Right now, I'm working mainly in
						<b>Angular2+</b> and <b>Flutter</b>.
						In my everyday work I use both Dart and Typescript.
						I write and maintain unit and e2e tests.
					</p>

					<p>
						As a Computer Science Bachelor, I have a basic understanding of&nbsp;<b>Java</b>, <b>Python</b>, <b>Kotlin</b> and&nbsp;<b>C#</b>.
					</p>

					<p>
						Foreign languages are my passion, I've been studying <b>English</b> at Adam Mickiewicz University, I also speak <b>French</b>.
						I translate texts for activist purposes in my spare time.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="projects">
		<h3 class="section-header">Projects</h3>
		<div class="container projects_container">
			<div class="flex-wrapper">
				<a [routerLink]="['projects/home-library']">
					<div class="project_image">
						<img src="assets/images/home-library/home-library-icon.png" alt="Home library project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>Home library</h3>
						<p class="card_body">
							Angular&nbsp;SailsJS&nbsp;MongoDB
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a [routerLink]="['projects/planets']">
					<div class="project_image">
						<img src="assets/images/planets/list-view.png" alt="Planets project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>Planets</h3>
						<p class="card_body">
							Angular&nbsp;CSS3&nbsp;Bootstrap
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a [routerLink]="['projects/AKN-web-app']">
					<div class="project_image">
						<img src="assets/images/AKN-web-app/modify-account.png" alt="AKN web project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>AKN webapp</h3>
						<p class="card_body">
							Angular&nbsp;SailsJS&nbsp;MongoDB
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a [routerLink]="['projects/AKN-mobile-app']">
					<div class="project_image">
						<img src="assets/images/AKN-mobile-app/login-icon.png" alt="AKN mobile project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>AKN mobile app</h3>
						<p class="card_body">
							Ionic2&nbsp;HTML5&nbsp;CSS3
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a class="tight vertical" [routerLink]="['projects/RPN-calc']">
					<div class="project_image">
						<img src="assets/images/RPN-calc/basic.png" alt="RPN project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>RPN calculator</h3>
						<p class="card_body">
							Android<br>Kotlin<br>SQLite
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a class="tight vertical" [routerLink]="['projects/lego-app']">
					<div class="project_image">
						<img src="assets/images/lego-app/project-view.png" alt="LEGO project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>Lego app</h3>
						<p class="card_body">
							Android<br>Kotlin<br>SQLite
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a [routerLink]="['projects/mr-dumpling']">
					<div class="project_image">
						<img src="assets/images/mr-dumpling/menu.png" alt="Thesis project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>Mr Dumpling</h3>
						<p class="card_body">
							Unity&nbsp;C#&nbsp;Google&nbsp;Play
						</p>
					</div>
				</a>
			</div>

			<div class="flex-wrapper">
				<a [routerLink]="['projects/climate-camp']">
					<div class="project_image">
						<img src="assets/images/climate-camp/menu.png" alt="Climate camp project">
					</div>
					<div class="project_text">
						<h3 class='card_title'>Climate Camp</h3>
						<p class="card_body">
							Flutter<br>Dart<br>Firebase
						</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="contact_opacity"></div>
    <h3 class="section-header">Contact</h3>
		<div class="container">
      <div class="row">
        <p class="instruction">
          Contact me via the form below or send an email to the following address:
          <a href="mailto:jakub.m.wisniowski@gmail.com"
             class="border-link"
             data-tool-tip="open in your email client">jakub.m.wisniowski@gmail.com</a>
        </p>
      </div>
      <div class="row">
        <form id="contact-form" class="col col-12" method="POST" action="http://formspree.io/jakub.m.wisniowski@gmail.com" onchange="handleFormChanged()" >
          <label for="name">Name</label>
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          <label for="email">Email</label>
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          <label for="message">Your message</label>
          <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
          <button id="send-button" class="btn btn-default pull-right" type="submit">Send</button>
        </form>
      </div>
			<div id="thank-you-message">
				Thanks for contacting me!
			</div>
		</div>
	</section>
</div>