<div class="content-wrapper">
  <section class="page-header">
    <div class="container" (clickOutside)="isCollapsed = true">
      <div
        class="hamburger-menu"
        type="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="navigation"
      >
        <img width="50" src="assets/images/icons/hamburger.png" />
      </div>
      <div
        id="navigation"
        class="navigation-small"
        [collapse]="isCollapsed"
        [isAnimated]="true"
      >
        <ul>
          <li>
            <a
              class="navigation-link-small"
              href="#about"
              (click)="isCollapsed = true"
              >ABOUT</a
            >
          </li>
          <li>
            <a
              class="navigation-link-small"
              href="#projects"
              (click)="isCollapsed = true"
              >PROJECTS</a
            >
          </li>
          <li>
            <a
              class="navigation-link-small"
              href="#contact"
              (click)="isCollapsed = true"
              >CONTACT</a
            >
          </li>
        </ul>
      </div>
      <ul class="navigation">
        <li>
          <a class="navigation-link border-link" href="#about">ABOUT</a>
        </li>
        <li>
          <a class="navigation-link border-link" href="#projects">PROJECTS</a>
        </li>
        <li>
          <a class="navigation-link border-link" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="banner">
    <div class="banner_bg_opacity"></div>
    <div class="my_name">
      <h1>JAKUB WIŚNIOWSKI</h1>
      <h2>JUNIOR FRONT-END DEVELOPER</h2>
    </div>
    <div class="my_places_center">
      <div class="my_places">
        <a
          href="https://github.com/jakub-wisniowski"
          data-tool-tip="Github profile"
          target="-blank"
          class="shortcut_img"
        >
          <img src="assets/images/icons/github.png" alt="Github profile" />
        </a>
        <a
          href="https://www.linkedin.com/in/jakub-m-wisniowski/"
          data-tool-tip="LinkedIn profile"
          target="-blank"
          class="shortcut_img"
        >
          <img src="assets/images/icons/linkedin.png" alt="LinkedIn profile" />
        </a>
      </div>
    </div>
  </section>
  <section id="about">
    <h3 class="section-header">About me</h3>
    <div class="container" id="bio_wrap">
      <div class="bio">
        <img
          class="profile_picture"
          src="assets/images/profile.jpeg"
          alt="Profile picture"
        />
      </div>
      <div class="bio">
        <div class="bio_text">
          <p>
            I am a Junior Frontend Developer. I graduated from Computer Science
            at
            <b>Poznan University of&nbsp;Technology</b> in February 2019.
          </p>

          <p>
            I'm looking for junior level frontend or&nbsp;fullstack positions.
            Right now, I'm working mainly in
            <b>Angular2+</b> and <b>Flutter</b>. In my everyday work I use both
            Dart and Typescript. I write and maintain unit and e2e tests.
          </p>

          <p>
            As a Computer Science Bachelor, I have a basic understanding
            of&nbsp;<b>Java</b>, <b>Python</b>,
            <b>Kotlin</b> and&nbsp;<b>C#</b>.
          </p>

          <p>
            Foreign languages are my passion, I've been studying
            <b>English</b> at Adam Mickiewicz University, I also speak
            <b>French</b>. I translate texts for activist purposes in my spare
            time.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="projects">
    <h3 class="section-header">Projects</h3>
    <div class="container projects_container">
      <div class="flex-wrapper">
        <a [routerLink]="['projects/home-library']">
          <div class="project_image">
            <img
              src="assets/images/home-library/home-library-icon.png"
              alt="Home library project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">Home library</h3>
            <p class="card_body">
              Angular&nbsp;SailsJS&nbsp;MongoDB
            </p>
          </div>
        </a>
      </div>

      <div class="flex-wrapper">
        <a [routerLink]="['projects/planets']">
          <div class="project_image">
            <img
              src="assets/images/planets/list-view.png"
              alt="Planets project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">Planets</h3>
            <p class="card_body">
              Angular&nbsp;CSS3&nbsp;Bootstrap
            </p>
          </div>
        </a>
      </div>

      <div class="flex-wrapper">
        <a [routerLink]="['projects/AKN-web-app']">
          <div class="project_image">
            <img
              src="assets/images/AKN-web-app/modify-account.png"
              alt="AKN web project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">AKN webapp</h3>
            <p class="card_body">
              Angular&nbsp;SailsJS&nbsp;MongoDB
            </p>
          </div>
        </a>
      </div>

      <div class="flex-wrapper">
        <a [routerLink]="['projects/AKN-mobile-app']">
          <div class="project_image">
            <img
              src="assets/images/AKN-mobile-app/login-icon.png"
              alt="AKN mobile project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">AKN mobile app</h3>
            <p class="card_body">
              Ionic2&nbsp;HTML5&nbsp;CSS3
            </p>
          </div>
        </a>
      </div>
<!-- 
      <div class="flex-wrapper">
        <a class="tight vertical" [routerLink]="['projects/RPN-calc']">
          <div class="project_image">
            <img src="assets/images/RPN-calc/basic.png" alt="RPN project" />
          </div>
          <div class="project_text">
            <h3 class="card_title">RPN calculator</h3>
            <p class="card_body">Android<br />Kotlin<br />SQLite</p>
          </div>
        </a>
      </div> -->

      <div class="flex-wrapper">
        <a class="tight vertical" [routerLink]="['projects/lego-app']">
          <div class="project_image">
            <img
              src="assets/images/lego-app/project-view.png"
              alt="LEGO project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">Lego app</h3>
            <p class="card_body">Android<br />Kotlin<br />SQLite</p>
          </div>
        </a>
      </div>

      <div class="flex-wrapper">
        <a [routerLink]="['projects/mr-dumpling']">
          <div class="project_image">
            <img
              src="assets/images/mr-dumpling/menu.png"
              alt="Thesis project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">Mr Dumpling</h3>
            <p class="card_body">
              Unity&nbsp;C#&nbsp;Google&nbsp;Play
            </p>
          </div>
        </a>
      </div>

      <div class="flex-wrapper">
        <a [routerLink]="['projects/climate-camp']">
          <div class="project_image">
            <img
              src="assets/images/climate-camp/menu.png"
              alt="Climate camp project"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">Climate Camp Mobile app</h3>
            <p class="card_body">Flutter<br />Dart<br />Firebase</p>
          </div>
        </a>
      </div>

      <div class="flex-wrapper">
        <a [routerLink]="['projects/climate-camp-website']">
          <div class="project_image">
            <img
              src="assets/images/icons/climate-camp-logo.png"
              alt="Climate camp website"
            />
          </div>
          <div class="project_text">
            <h3 class="card_title">Climate Camp website</h3>
            <p class="card_body">Angular 9<br />Scully<br />Bootstrap</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="contact_opacity"></div>
    <h3 class="section-header">Contact</h3>
    <div class="container">
      <div class="row">
        <p class="instruction">
          Contact me via the form below or send an email to the following
          address:
          <a
            href="mailto:jakub.m.wisniowski@gmail.com"
            class="border-link"
            data-tool-tip="open in your email client"
            >jakub.m.wisniowski@gmail.com</a
          >
        </p>
      </div>
      <div class="row">
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          id="contact-form"
          class="col col-12"
        >
          <label for="name">Name</label>
          <input
            id="name"
            class="form-control"
            name="name"
            placeholder="Name"
            type="text"
            formControlName="name"
          />
          <div
            *ngIf="f.name.touched && f.name.invalid"
            class="alert alert-danger"
          >
            Name is required.
          </div>
          <label for="email">Email</label>
          <input
            id="email"
            class="form-control"
            name="email"
            placeholder="Email"
            type="email"
            formControlName="email"
          />
          <div
            *ngIf="f.email.touched && f.email.invalid"
            class="alert alert-danger"
          >
            <ng-container *ngIf="f.email.errors.required">Email is required.</ng-container>
            <ng-container *ngIf="f.email.errors.email">Incorrect email address.</ng-container>
          </div>
          <label for="message">Your message</label>
          <textarea
            id="message"
            class="form-control"
            name="message"
            placeholder="Message"
            rows="5"
            formControlName="message"
          ></textarea>
          <div
            *ngIf="f.message.touched && f.message.invalid"
            class="alert alert-danger"
          >
            Messages is required.
          </div>
          <button
            id="send-button"
            class="btn btn-default pull-right"
            type="submit"
            [disabled]="form.invalid"
          >
            Send
          </button>
        </form>
      </div>
      <div id="thank-you-message" [ngClass]="{ visible: formSubmitted }">
        Thanks for contacting me!
      </div>
    </div>
  </section>
</div>
